#crossword {
    margin: 50px;
    clear:both;
}
div {
    display: block;
}

#board {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    margin-top: 10px;
}

.crossword-row{
    clear:left;
    white-space:nowrap;
}

.crossword-row > .blank {
    background-color: #ccc;
}



.crossword-row > div {
    float: left;
    text-align: center;
    height: 27px;
    width: 27px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.invisible-char{
    visibility: hidden;
}

.visible-char {
    visibility: visible;
}

#container-board {
    float: left;
}

#container-definitions {
    float: left;
    margin: 0 0 0 30px;
}

.clear{clear:both;}

.down-definitions
{
    margin-bottom: 20px;
}

.number {
    position: relative;
    left: -8px;
    top: -2px;
    font-size: 10px;
}

.crossword-row > div:focus {
    background: yellow;
}